<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>nCWRNYD4b+nyJokf4A6uEyqrHhvWnxr7tE6KxDdlvf1ifhJmFSzS3iGffsnerWdOON8r8N5CteNPpgtj/wkImcZG5iBR42Ut1w469P1GmxyTghYsAX7pPrPHNzapSp9+DDHVnKmWidXSHcuHRsu2hbWZTCeVGafOaVSiwucCoIbKYNRjpvdDsebXKW7Xb2Y6h9Xvddgl03BG45SiRsw0Rk+ABgQvdS15WCHhxOHdXmUtRvjIdZA+c4sLncNXc8X1P0YcqZa05cHhjlZ720sU6opQ3mtAWsBDx8kdHOjf1pE2emkFR4Sn9df/lsL2s0GTAu5QNOPvygpnxK1Lis6l7A==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>I7AdCcZ6JZ28BWzZjeaKegGuKkKduobcHhh83wDq0/barwHtBPWIMTr05Yvk/D9w</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>